<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link href="home/style.css" rel="stylesheet"/>
  </head>
  <body style="background-color:white;">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">WE-CARE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 500px;">
            <img src="https://images.unsplash.com/photo-1503945438517-f65904a52ce6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100 img-fluid" alt="..." style="height:500px;width:800px;object-fit:cover;-webkit-filter: grayscale(70%);filter: grayscale(70%);">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-3" style="text-shadow: 4px 4px 6px #000000;"><b>WELCOME TO WE-CARE !</b></h1>
              <div>
                <center><p><span class="border-start-0" style="text-color:white;"><h4><small class="text-muted">"We believe that an empowered woman is powerful beyond description and beautiful beyond measure."</small></h4></span></p></center>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 500px;">
            <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100 img-fluid" alt="..." style="height:500px;width:800px;object-fit:cover;-webkit-filter: grayscale(20%);filter: grayscale(20%);">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-3" style="color:black;text-shadow: 4px 4px 6px #f0f0f0;"><b>GET TO WORK</b></h1>
              <a class="btn btn-secondary btn-lg" href="/work" role="button">GET STARTED</a>
            </div>
          </div>
          <div class="carousel-item" style="height: 500px;">
            <img src="https://images.unsplash.com/photo-1556760544-74068565f05c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100 img-fluid" alt="..." style="height:500px;width:800px;object-fit:cover;-webkit-filter: grayscale(20%);filter: grayscale(20%);">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-3" style="text-shadow: 4px 4px 6px #000000;"><b>RELAX TIME</b></h1>
              <a class="btn btn-secondary btn-lg" style="bg-color:white;" href="/relax" role="button">GET STARTED</a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      <br><br>
      <div>
        <p><center><b>Created by -Shreya Singh and Harshita Jain</b></center></p>
      </div>
    <!--{% block body %} {% endblock body %}-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>

    </script>
  </body>
</html>
