{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">WE-CARE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <br><br>
        <div class="container">
            <div class="row row-cols-2">
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/shopping.jpeg' %}" class="card-img-top " alt="..." style="height:250px">
                <div class="card-body">
                <h5 class="card-title">SHOPPING</h5>
                <p class="card-text">Shop at your favorite stores online with record of available offers.</p>
                <center><a href="#" class="btn btn-dark">SHOP!</a></center>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/fitness.jpeg' %}" class="card-img-top" alt="..." style="height:250px">
                <div class="card-body">
                    <h5 class="card-title">GET FIT</h5>
                    <p class="card-text">Exercise to remain fit and active. </p>
                    <center><a href="#" class="btn btn-dark">WORKOUT !</a></center>
                </div>
                </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/music.jpeg' %}" class="card-img-top" alt="..." style="height:250px">
                    <div class="card-body">
                        <h5 class="card-title">LISTEN TO MUSIC</h5>
                        <p class="card-text">Listen to soothing beats and make your day better.</p>
                        <center><a href="#" class="btn btn-dark">PLAY MUSIC!</a></center>
                    </div>
                    </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/skincare.jpeg' %}" class="card-img-top" alt="..." style="height:250px">
                        <div class="card-body">
                            <h5 class="card-title">BEAUTY AND SKINCARE</h5>
                            <p class="card-text">Give yourself some time to make your skin beautiful and glowing</p>
                            <center><a href="/beauty" class="btn btn-dark">BEAUTY TIPS!</a></center>
                        </div>
                    </div>
                </div>
            </div>    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>